{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <h1>CHOOSE LOGIN TYPE</h1>
    {% include "movie_app/loginbuttons.html" %}
    {% if canLogin %}
    <form method="POST">
        <div class="form-group">
          {{ login_form|crispy }}
          {% csrf_token %}
        </div>
  
        <button type="submit" class="btn btn-success">Login</button>
      </form>
    {% endif %}
  </div>
</body>
</html>
